:root {
  --text-weight: 400;
  --text-tracking: 0px;
  --text-width: 100;
  --text-optical-size: 16;
  --text-slant: 0;
  --text-italic: 0;
}

.link-card {
  width: 60%;
  text-align:center;
  margin: 0 auto;
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f7f7f7; 
}

.link-card img {
  max-width: 60%;
  border: 1px solid #e0e0e0
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: blue;
}