.font-card {
    width: 60%;
    margin: 0 auto;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.font-card div {
    font-variation-settings: 
        "wdth" var(--text-width),
        "opsz" var(--text-optical-size),
        "slnt" var(--text-slant),
        "ital" var(--text-italic);
}