.font-view {
    font-size: 7.0vh;
    background-color: #e0e0e0;
    text-align: center;
}

.font-view h3 {
    font-size: 2.0vh;
}

.font-view label {
    font-size: 3.0vh;
}

input[type="range"] {
    width: 300px;  /* Adjust this value as per your requirement */
}


.input-block {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 800px;
    height: 80px;
    font-size: 3.0vh;
    border: 0px;
}

button {
    margin-left: 50px;
    height: 80px;
    width: 200px;
    font-size: 2.0vh;
    border-radius: 15px;
}

.single-font {
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.font-title {
    font-size: 1.0vh;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    display: block;
}