.font-view {
    font-size: 7.0vh;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #FFFFFF; 
}

.font-view h3 {
    font-size: 2.0vh;
}

.font-view label {
    font-size: 3.0vh;
}

input[type="range"] {
    width: 300px;
}

.description {
    text-align: center;
}


.input-block {
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 800px;
    height: 80px;
    font-size: 3.0vh;
    border: 0px;
    color: gray;
}

button {
    margin-bottom: 20px;
    margin: 10 auto;
    height: 50px;
    width: 100px;
    font-size: 1.5vh;
    border-radius: 15px;
}

.single-font {
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f7f7f7; 
}

.font-title {
    font-size: 1.0vh;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    display: block;
}